<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <%= image_tag @micropost.picture.url, class:'img-fluid' , size: '700x700' if @micropost.picture? %><br />

      <div class="mt-5">
        <%= @micropost.content %><br />
        <!--いいね機能を追加-->
        <span class="ml-2 d-sm-block" id="micropost-<%= @micropost.id %>">
          <%= render "likes/like", micropost: @micropost %>
        </span>
        <!-- ------------------------------------------------  -->
      </div>


      <%# コメント欄　追記ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー %>
      <div class="text-center">
        <h5 class="font-weight-bold mt-5">コメント</h5>

        <div id="comments_area">
          <%= render '/microposts/comments_index',comments: @comments %>
        </div>

        <% if user_signed_in? %>
        <%= render '/microposts/comments_form'%>
        <% end %>

      </div>
      <%# --------------------------------------------------------------------------------------- %>

      <div class="mt-5">
        <%= link_to "戻る", :back ,class: "btn btn-secondary btn-lg" ,tabindex: "-1", role: "button" %>
      </div>

    </div>
  </div>
</div>