<style>
  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: black;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;

    &:hover {
      color: white;
      text-decoration: none;
    }


  }
</style>

<div class="container">

  <% if user_signed_in? %>
  <!--ログイン後の画面-->
  <nav class="navbar navbar-expand navbar-light mb-3">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item navbar-brand font-weight-bold">
        <%= link_to "foods app", root_path , id: "logo" %>
      </li>
    </ul>

    <ul class="navbar-nav">

      <li class="nav-item nav-link d-none d-sm-block">
        <%= link_to users_path, id: "logo" do %>
        <i class="fas fa-users"></i>
        <% end %>
      </li>

      <li class="nav-item nav-link d-none d-sm-block">
        <%= link_to new_micropost_path, id: "logo" do %>
        <i class="fas fa-paper-plane"></i>
        <% end %>
      </li>

      <li class="nav-item dropdown ml-3">

        <a class="btn btn-dark text-white nav-link" href="#" role="button" id="navbarDropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
          <i class="fas fa-bars"></i>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to "マイページ", user_path(current_user), class: 'dropdown-item' %>
          <%= link_to "編集",edit_user_registration_path, class: 'dropdown-item' %>
          <%= link_to "新規投稿", new_micropost_path, class: 'dropdown-item' %>
          <%= link_to "ユーザー一覧", users_path, class: 'dropdown-item' %>
          <%= link_to "お店を探す", shops_index_path, class: 'dropdown-item' %>
          <%= link_to "チャット",  chats_path(current_user),method: :get, class: 'dropdown-item' %>
          <%= link_to "お問い合わせ", "#", class: 'dropdown-item' %>
          <%= link_to "ログアウト", destroy_user_session_path,method: :delete, class: 'dropdown-item' %>
        </div>
      </li>
    </ul>
  </nav>

  <%= render 'shared/flash_messages' %>

  <% else %>

  <nav class="navbar navbar-expand navbar-light mb-3">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item navbar-brand font-weight-bold">
        <%= link_to "foods app", root_path , id: "logo" %>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="btn btn-dark text-white nav-link dropdown-toggle" href="#" role="button" id="navbarDropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
          <i class="fas fa-bars"></i>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to "新規登録", new_user_registration_path, class: 'dropdown-item' %>
          <%= link_to "ログイン", new_user_session_path, class: 'dropdown-item' %>
          <%= link_to "お問い合わせ", "#", class: 'dropdown-item' %>
        </div>
      </li>
    </ul>
  </nav>

  <%= render 'shared/flash_messages' %>

  <%end%>

  <p id="top"></p>

</div>